<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="_vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    colors="true"
    verbose="true"
    testdox="true"
>
    <testsuites>
        <testsuite name="all">
            <directory>./_tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./_vendor</directory>
            <exclude>
                <directory>./_releases</directory>
                <directory>./_data</directory>
                <directory>./_output</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="memory_limit" value="128M" />
    </php>
</phpunit>