<xf:title>{{ phrase('developerTools_developer_options_for_x_add_on', {'addon_title': $addOn.title}) }}</xf:title>

<xf:if is="$allowFakeComposerRebuild">
	<xf:pageaction>
		<xf:button href="{{ link('add-ons/rebuild-fake-composer', $addOn, {'t': csrf_token()}) }}" icon="add">
			{{ phrase('developerTools_rebuild_fake_composer') }}
		</xf:button>
	</xf:pageaction>
</xf:if>

<xf:form action="{{ link('add-ons/developer-options', $addOn) }}" ajax="true" class="block">
	<div class="block-container">

		<div class="block-body">
			<xf:textboxrow name="git[name]" value="{{ $addOn.DeveloperOptions.git.name ?: $xf.options.developerTools_git_username }}" label="{{ phrase('developerTools_git_name') }}" explain="{{ phrase('developerTools_git_name_explain') }}" />
			
			<xf:textboxrow name="git[email]" value="{{ $addOn.DeveloperOptions.git.email ?: $xf.options.developerTools_git_email }}" label="{{ phrase('developerTools_git_email') }}" explain="{{ phrase('developerTools_git_email_explain') }}" />
			
			<xf:textarearow name="gitignore" value="{{ $addOn.DeveloperOptions.gitignore }}" autosize="true" label="{{ phrase('developerTools_contents_for_gitignore') }}" />
			
			<hr class="formRowSep" />
			
			<xf:textarearow name="license" value="{{ $addOn.DeveloperOptions.license }}" autosize="true" label="{{ phrase('developerTools_contents_for_license') }}" />
			
			<xf:textarearow name="readme" value="{{ $addOn.DeveloperOptions.readme }}" autosize="true" label="{{ phrase('developerTools_contents_for_readme_markdown_file') }}" />
			
			<hr class="formRowSep" />
			
			<xf:checkboxrow name="parse_additional_files" explain="{{ phrase('developerTools_parse_additional_files_explain') }}">
				<xf:option value="1" selected="{$addOn.DeveloperOptions.parse_additional_files}">{{ phrase('developerTools_parse_additional_files') }}</xf:option>
			</xf:checkboxrow>
		</div>

		<xf:submitrow sticky="true" icon="save" />
	</div>
</xf:form>