<xf:title>{{ phrase('developerTools_developer_options_for_x_add_on', {'addon_title': $addOn.title}) }}</xf:title>

<xf:form action="{{ link('add-ons/developer-options', $addOn) }}" ajax="true" class="block">
	<div class="block-container">

		<div class="block-body">
			<xf:textboxrow name="git[name]" value="{{ $addOn.GitConfigurations.name ?: $xf.options.developerTools_git_username }}" label="{{ phrase('developerTools_git_name') }}" explain="{{ phrase('developerTools_git_name_explain') }}" />
			
			<xf:textboxrow name="git[email]" value="{{ $addOn.GitConfigurations.email ?: $xf.options.developerTools_git_email }}" label="{{ phrase('developerTools_git_email') }}" explain="{{ phrase('developerTools_git_email_explain') }}" />
			
			<xf:textarearow name="dev[gitignore]" value="{{ $addOn.DeveloperOptions.gitignore }}" autosize="true" label="{{ phrase('developerTools_contents_for_gitignore') }}" />
			
			<xf:textboxrow name="git[custom_repo]" value="{$addOn.GitConfigurations.custom_repo}" label="{{ phrase('developerTools_git_custom_repo') }}" explain="{{ phrase('developerTools_git_custom_repo_explain') }}" />

			<xf:textboxrow name="git[custom_subdir]" value="{$addOn.GitConfigurations.custom_subdir}" label="{{ phrase('developerTools_git_custom_subdir') }}" explain="{{ phrase('developerTools_git_custom_subdir_explain') }}" />

			<hr class="formRowSep" />
			
			<xf:textarearow name="dev[license]" value="{{ $addOn.DeveloperOptions.license }}" autosize="true" label="{{ phrase('developerTools_contents_for_license') }}" />
			
			<xf:textarearow name="dev[readme]" value="{{ $addOn.DeveloperOptions.readme }}" autosize="true" label="{{ phrase('developerTools_contents_for_readme_markdown_file') }}" />
			
			<hr class="formRowSep" />
			
			<xf:checkboxrow>
				<xf:option name="dev[parse_additional_files]" value="1" selected="{$addOn.DeveloperOptions.parse_additional_files}"
						   hint="{{ phrase('developerTools_parse_additional_files_explain') }}">
					{{ phrase('developerTools_parse_additional_files') }}
				</xf:option>
			</xf:checkboxrow>
		</div>

		<xf:submitrow sticky="true" icon="save" />
	</div>
</xf:form>