<xf:title>{{ phrase('email') }}</xf:title>

<div class="block">
	<div class="block-container">
		<div class="block-body block-row">
			<ul class="listInline listInline--bullet u-muted">
				<li class="u-muted">{{ phrase('tckDeveloperTools_sent_on:') }} {{ date_time($emailLog.log_date) }}</li>
			</ul>
		</div>
		
		<h3 class="block-minorHeader">{{ phrase('tckDeveloperTools_receieved_by') }}</h3>
		<div class="block-body block-body--contained block-row" dir="ltr"><xf:macro template="tckDeveloperTools_log_email_macros" name="email_list" arg-emails="{$emailLog.to}" /></div>

		<h3 class="block-minorHeader">{{ phrase('subject') }}</h3>
		<div class="block-body block-body--contained block-row" dir="ltr">{$emailLog.subject}</div>

		<xf:if is="$emailLog.html_message">
			<h3 class="block-minorHeader">{{ phrase('tckDeveloperTools_html_message') }}</h3>
			<div class="block-body block-body--contained block-row" dir="ltr"><pre>{$emailLog.html_message}</pre></div>
		</xf:if>
		
		<xf:if is="$emailLog.text_message">
			<h3 class="block-minorHeader">{{ phrase('tckDeveloperTools_text_message') }}</h3>
			<div class="block-body block-body--contained block-row" dir="ltr"><pre>{$emailLog.text_message}</pre></div>
		</xf:if>

		<div class="block-footer block-footer--split">
			<span class="block-footer-controls">
				<xf:button href="{{ link('logs/emails/render', $emailLog) }}" fa="fab fa-html5" target="_blank">{{ phrase('tckDeveloperTools_render') }}</xf:button>
				<xf:button href="{{ link('logs/emails/delete', $emailLog) }}" icon="delete" overlay="true" />
			</span>
		</div>
	</div>
</div>